.tags-input-container {
  position: relative;
}

.tags-container {
  position: relative;
  top: calc(100% + 8px); /* Adjust the spacing between input and tags */
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
