.tags-input-container {
  position: relative;
}

.tags-container {
  position: relative;
  top: calc(100% + 8px); /* Adjust the spacing between input and tags */
  left: 0;
  right: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  width: 300px;
  padding-top: 1rem;
}
