.tech-form {
  background-color: #0f171f;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
}

.dropdown-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-row {
  display: flex;
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
}
.form-group {
  width: 50%;
  padding: 0 2%;
}

label {
  display: block;
  margin-bottom: 5px;
  float: left; /* Align label to the left */
  clear: both; /* Clear floats to prevent overlapping */
}

select, textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button:hover {
  background-color: #0056b3;
}

p {
  color: red;
  font-size: 14px;
  margin-bottom: 0px;  
  text-align: left;
  margin-top: 0.4rem;
}
  
  