.form-container {
 display: flex;
 justify-content: space-between;
 margin: 1rem;
}

.tech-form {
  background-color: #0f171f;
  padding: 20px;
}

.dropdown-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-row {
  display: flex;
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
}
.form-group {
  width: 50%;
  padding: 0 2%;
}


