.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  gap: 1rem;
}

.tech-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #0f171f;
  padding: 20px;
  border-radius: 0.4rem;
}

.code-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* overflow: auto; */
  width: 100%;
}

.drawer {
  display: flex;
  flex-direction: column;
  background: #0f171f;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}

.history-drawer {
  max-height: 30rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #0f171f;
}